<evry-header></evry-header>

<br>
<br>
<br>

<button class="btn btn-primary" (click)="showADNHeader()">Show ADN Fund header with static label</button>
<button class="btn btn-primary" (click)="showCFCHeader()">Show CFC header</button>
<button class="btn btn-primary" (click)="showCBCHeader()">Show CBC header</button>
<button class="btn btn-primary" (click)="showCBCHeaderWithComponent()">Show CBC header with component menu</button>
<br>
<br>
<br>
<button class="btn btn-primary" (click)="set5Banks()">Set 5 banks</button>
<button class="btn btn-primary" (click)="set15Banks()">Set 15 banks</button>
<br>
<br>
<br>
